#mapunitpolys {
    [mapunit='Q'] { polygon-fill: #F4F2E6; }
	[mapunit='QTb'] { polygon-fill: #F0D5F0; }
	[mapunit='QTv'] { polygon-fill: #E3C4F0; }
	[mapunit='Qr'] { polygon-fill: #FFFFBA; }
	[mapunit='Qy'] { polygon-fill: #FFFFE3; }
	[mapunit='Qm'] { polygon-fill: #FFFFBA; }
	[mapunit='Qo'] { polygon-fill: #FDFC9B; }
	[mapunit='QTs'] { polygon-fill: #FFE8BA; }
	[mapunit='Tvy'] { polygon-fill: #FFA8FF; }
	[mapunit='Tsy'] { polygon-fill: #FFE8C4; }
	[mapunit='Tby'] { polygon-fill: #FFBAE3; }
	[mapunit='Tb'] { polygon-fill: #FF9EE3; }
	[mapunit='Tsv'] { polygon-fill: #FBC47B; }
	[mapunit='Tsm'] { polygon-fill: #E2B854; }
	[mapunit='Tv'] { polygon-fill: #FDC158; }
	[mapunit='Tg'] { polygon-fill: #FBBA7B; }
	[mapunit='Ti'] { polygon-fill: #FD9E69; }
	[mapunit='TXgn'] { polygon-fill: #FB9AAA; }
	[mapunit='Tso'] { polygon-fill: #EED792; }
	[mapunit='TKgm'] { polygon-fill: #FF8791; }
	[mapunit='TKg'] { polygon-fill: #FD7765; }
	[mapunit='Kv'] { polygon-fill: #D1FF87; }
	[mapunit='KJo'] { polygon-fill: #BAFF9E; }
	[mapunit='KJs'] { polygon-fill: #BAFF9E; }
	[mapunit='Kmv'] { polygon-fill: #E8FFA8; }
	[mapunit='Ks'] { polygon-fill: #B3FB85; }
	[mapunit='Jm'] { polygon-fill: #78F077; }
	[mapunit='Jsv'] { polygon-fill: #7DFFB2; }
	[mapunit='Jg'] { polygon-fill: #E45FB0; }
	[mapunit='Jv'] { polygon-fill: #7DFFB2; }
	[mapunit='J^'] { polygon-fill: #B2FFF0; }
	[mapunit='}|'] { polygon-fill: #81FD80; }
	[mapunit='Js'] { polygon-fill: #79E29D; }
	[mapunit='Jgc'] { polygon-fill: #6DF1A8; }
	[mapunit='^c'] { polygon-fill: #7DFFD1; }
	[mapunit='^cs'] { polygon-fill: #7DFFD1; }
	[mapunit='^m'] { polygon-fill: #90DED4; }
	[mapunit='|'] { polygon-fill: #7BECFB; }
	[mapunit='P'] { polygon-fill: #A8F0FF; }
	[mapunit='P*'] { polygon-fill: #9ED9FF; }
	[mapunit='M_'] { polygon-fill: #C4D9F0; }
	[mapunit='Ys'] { polygon-fill: #BAB2FF; }
	[mapunit='Yd'] { polygon-fill: #D597D0; }
	[mapunit='YXg'] { polygon-fill: #D1A177; }
	[mapunit='Yg'] { polygon-fill: #CA8B4F; }
	[mapunit='Xg'] { polygon-fill: #BA827B; }
	[mapunit='Xms'] { polygon-fill: #B9C4B9; }
	[mapunit='Xq'] { polygon-fill: #92B35F; }
	[mapunit='Xmv'] { polygon-fill: #90B388; }
	[mapunit='Xm'] { polygon-fill: #B2B25F; }
}