#otherlines {
  /*Map Boundary*/
  ["symbol"=321] {
    line-width:3;
    line-color:#aaa;
  }
  
  /*Lakeshore*/
  ["symbol"=322] {
    line-width: 0.4;
    line-color: blue;
    [zoom < 7] {
      line-width: 0;
    }
  }
}
  
#contactsandfaults {
  line-width: 0;
  line-color:#000;
  /*Accurate Contact*//*Quaternary Contact*/
  ["symbol"=1], 
  ["symbol"=306] 
  { line-width: 0.5; }
  
  ["symbol"=306] { 
    line-color: #888;
  }
  
  /*Accurate Fault*//*High-Angle Fault*//*Thrust Fault*//*Detachment Fault*/
  /*Low-angle Fault*//*High-Angle Active Fault*//*Quaternary Fault*/
  ["symbol"=118], 
  ["symbol"=126], 
  ["symbol"=206], 
  ["symbol"=222], 
  ["symbol"=246], 
  ["symbol"=307], 
  ["symbol"=61] 
  { line-width: 1.25; }
  
   /*Active Faults*/
  ["symbol"=307],
  ["symbol"=61] { line-color: red; }
  
  /*Thrust Fault, Concealed*//*Detachment Fault, Concealed*/
  ["symbol"=295], 
  ["symbol"=299] {
    ::dotted {
      line-width: 2;
      line-dasharray: 1, 7;
      line-cap: round;
      [zoom < 9] {
        line-width: 0;
      }
    }
  }
  
  /*Detachment Faults*/
  ::detachment-markers["symbol"=222],["symbol"=299] {
    marker-spacing: 45;
    marker-placement: line;
    marker-file: url("svg/detachment.svg");
    marker-transform: "rotate(180) translate(0 -3) scale(0.6)";
    [zoom < 9] {
      marker-spacing: 9999;
    }
  }
  
  /*Thrust Faults*/
  ::thrust-markers["symbol"=295],["symbol"=206] {
    marker-spacing: 15;
    marker-placement: line;
    marker-file: url("svg/triangle.svg");
    marker-transform: "rotate(180) translate(0 -3) scale(0.6)";
    [zoom < 9] {
      marker-spacing: 9999;
    }
  }
  
  /*High-Angle Faults*/
  ::high-angle-marker["symbol"=126] {
    marker-placement: line;
    marker-file: url("svg/high-angle.svg");
    marker-transform: "rotate(180) translate(0 -4)";
    [zoom < 9] {
      marker-spacing: 9999;
    }
  }
  
  /*High-Angle Active Faults*/
  ::high-angle-marker["symbol"=307] {
    marker-placement: line;
    marker-file: url("svg/high-angle-active.svg");
    marker-transform: "rotate(180) translate(0 -9)";
    [zoom < 9] {
      marker-spacing: 9999;
    }
  }
  
  /* Hide when zoomed out*/
  [zoom < 7] {
    line-width: 0;
  }
}